In [ ]:
import xarray as xr
import pandas as pd

#Opening the netcdf file
ds = xr.open_dataset("train.nc")
print(ds)

#Converting .nc file to dataframe
df = ds.to_dataframe().reset_index()        
print(df.head())

#Copy of the dataframe
df1 = df.copy()

#Pivoting the dataframe to wide format
train_wide = df1.pivot_table(index=["timestamp", "location", "out","tracked"], columns="feature", values="weather").reset_index()
print(train_wide.head())
print(train_wide.tail())

train_wide.describe()

<xarray.Dataset> Size: 159MB
Dimensions:    (location: 83, timestamp: 2161, feature: 109)
Coordinates:
  * location   (location) <U5 2kB '26001' '26003' '26005' ... '26163' '26165'
  * feature    (feature) object 872B 'SBT113' 'SBT114' 'SBT123' ... 'wz' 'wz_1'
  * timestamp  (timestamp) datetime64[ns] 17kB 2023-04-01 ... 2023-06-30
    state      (location) <U2 664B ...
Data variables:
    tracked    (location, timestamp) float64 1MB ...
    out        (location, timestamp) float64 1MB ...
    weather    (location, timestamp, feature) float64 156MB ...
Attributes:
    time_start:  2022-01-01T00:00:00
    time_end:    2022-01-31T23:00:00
    time_now:    2025-07-08T14:59:10
  location  timestamp feature  tracked  out     weather state
0    26001 2023-04-01  SBT113  12588.0  0.0  221.470001    26
1    26001 2023-04-01  SBT114  12588.0  0.0  252.800003    26
2    26001 2023-04-01  SBT123  12588.0  0.0  229.880005    26
3    26001 2023-04-01  SBT124  12588.0  0.0  263.500000    26
4    26001 2023-04-01     aod  12588.0  0.0    0.000000    26
feature  timestamp location   out  tracked      SBT113      SBT114  \
0       2023-04-01    26001   0.0  12588.0  221.470001  252.800003
1       2023-04-01    26003   1.0   9243.0  226.779999  268.399994
2       2023-04-01    26005  47.0  61550.0  214.470001  214.300003
3       2023-04-01    26007   0.0      0.0  226.710007  273.600006
4       2023-04-01    26009   0.0  21440.0  216.880005  219.800003

feature      SBT123      SBT124  aod  bgrun  ...  vddsf        veg  veril  \
0        229.880005  263.500000  0.0    0.0  ...    0.0  12.100000  0.000
1        235.139999  269.200012  0.0    0.0  ...    0.0   6.200000  0.000
2        215.199997  215.300003  0.0    0.0  ...    0.0  18.200001  0.766
3        236.880005  275.000000  0.0    0.0  ...    0.0  18.299999  0.000
4        220.240005  226.800003  0.0    0.0  ...    0.0   4.100000  0.000

feature  vgtyp      vis      vstm     vucsh     vvcsh        wz      wz_1
0          4.0    200.0 -3.735277  2.772049  8.102692  0.004961  0.007971
1          5.0    200.0 -8.485277 -8.602951  0.290192  0.004961  0.007971
2         14.0   4500.0  5.389723  3.834549  5.165192  0.004961  0.007971
3          5.0    100.0 -4.860277  1.834549  2.977692  0.004961  0.007971
4         14.0  12800.0 -4.735277 -2.477951  5.727692  0.004961  0.007971

[5 rows x 113 columns]
feature  timestamp location    out   tracked      SBT113      SBT114  \
179358  2023-06-30    26157    0.0   28203.0  220.520004  223.000000
179359  2023-06-30    26159    0.0   35142.0  224.360001  238.100006
179360  2023-06-30    26161   10.0  174449.0  227.479996  288.799988
179361  2023-06-30    26163  904.0  922425.0  227.419998  282.100006
179362  2023-06-30    26165    0.0   20465.0  231.320007  280.799988

feature      SBT123      SBT124  aod  bgrun  ...      vddsf   veg   veril  \
179358   222.470001  224.300003  0.0    0.0  ...  13.300000  59.0  0.0528
179359   230.169998  244.300003  0.0    0.0  ...   0.500000  79.0  1.9552
179360   236.539993  292.399994  0.0    0.0  ...  76.500000  70.0  0.0000
179361   236.470001  288.799988  0.0    0.0  ...  92.699997  30.0  0.0000
179362   240.729996  282.200012  0.0    0.0  ...   1.900000  92.0  0.0000

feature  vgtyp      vis      vstm     vucsh     vvcsh        wz      wz_1
179358    13.0  31300.0 -1.431105  4.633152  4.964628  0.018106  0.024395
179359    14.0   6000.0 -4.743605  3.320652  2.089628 -0.013144  0.024395
179360    14.0  26000.0 -1.243605  3.133152  6.964628 -0.013144 -0.038105
179361    13.0  25200.0 -0.931105  2.633152  9.277128 -0.013144  0.024395
179362    14.0  27200.0 -4.118605  0.695652  3.777128 -0.013144  0.024395

[5 rows x 113 columns]

feature,timestamp,out,tracked,SBT113,SBT114,SBT123,SBT124,aod,bgrun,blh,...,vddsf,veg,veril,vgtyp,vis,vstm,vucsh,vvcsh,wz,wz_1
count,179363,179363.000000,179363.000000,179363.000000,179363.000000,179363.000000,179363.000000,179363.0,179363.0,179363.000000,...,179363.000000,179363.000000,179363.000000,179363.000000,179363.000000,179363.000000,179363.000000,179363.000000,179363.000000,179363.000000
mean,2023-05-16 00:00:00.000000256,45.248334,60026.752965,230.961661,277.051781,239.413582,278.654294,0.0,0.0,599.394865,...,71.264572,40.283333,0.017252,11.470231,31383.149256,-3.730822,1.631568,0.294952,-0.000461,-0.000515
min,2023-04-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-26.245855,-23.225407,-25.795647,-0.114232,-0.103090
25%,2023-04-23 12:00:00,0.000000,14332.000000,228.979996,272.000000,236.929993,273.200012,0.0,0.0,134.369926,...,0.000000,21.100000,0.000000,5.000000,17400.000000,-8.950899,-1.493742,-2.627814,-0.008439,-0.016458
50%,2023-05-16 00:00:00,0.000000,23218.000000,231.029999,280.399994,239.539993,281.579987,0.0,0.0,394.719330,...,28.500000,31.400000,0.000000,14.000000,26600.000000,-4.890234,1.036793,-0.035397,-0.000319,-0.000426
75%,2023-06-07 12:00:00,1.000000,43825.000000,233.399994,287.100006,242.770004,288.700012,0.0,0.0,884.530884,...,127.300003,60.000000,0.000000,14.000000,42600.000000,0.968472,4.203418,2.748543,0.007881,0.014827
max,2023-06-30 00:00:00,23346.000000,922425.000000,250.179993,305.600006,259.820007,307.899994,0.0,0.0,3401.091309,...,763.000000,100.000000,14.348800,17.000000,90000.000000,24.902107,29.292791,33.150009,0.091607,0.090685
std,NaN,452.269701,129549.071944,8.293560,17.734626,9.168975,17.791722,0.0,0.0,591.962678,...,94.986445,26.013205,0.117491,4.209413,18460.532102,7.154978,5.060016,5.181022,0.010552,0.018586

In [ ]:
train_wide.isnull().sum()

feature
timestamp    0
location     0
out          0
tracked      0
SBT113       0
            ..
vstm         0
vucsh        0
vvcsh        0
wz           0
wz_1         0
Length: 113, dtype: int64

In [ ]:
train_wide.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
179358    False
179359    False
179360    False
179361    False
179362    False
Length: 179363, dtype: bool

In [ ]:
numeric_df = train_wide.select_dtypes(include=['number'])

In [ ]:
print((numeric_df < 0).sum())

feature
out             0
tracked         0
SBT113          0
SBT114          0
SBT123          0
            ...
vstm       128691
vucsh       70285
vvcsh       90404
wz          92250
wz_1        91417
Length: 111, dtype: int64

In [ ]:
neg_cols = numeric_df.columns[(numeric_df < 0).any()]
print("Columns with negative values:", list(neg_cols))

Columns with negative values: ['cin', 'cpofp', 'gflux', 'gh_1', 'ishf', 'lftx', 'lftx4', 'refc', 'refd', 'slhtf', 'u', 'u10', 'unknown_3', 'ustm', 'v', 'v10', 'vstm', 'vucsh', 'vvcsh', 'wz', 'wz_1']

In [ ]:
neg_counts = (numeric_df[neg_cols] < 0).sum()
print("\nCount of negatives in each column:\n", neg_counts)

Count of negatives in each column:
 feature
cin           19011
cpofp        179197
gflux         60506
gh_1              4
ishf          81229
lftx          10636
lftx4         13966
refc         154853
refd         166448
slhtf          5003
u             91707
u10           89802
unknown_3    170113
ustm          79495
v             92509
v10           95165
vstm         128691
vucsh         70285
vvcsh         90404
wz            92250
wz_1          91417
dtype: int64

In [ ]:
zero_col = numeric_df.columns[(numeric_df == 0).any()]
print(zero_col)

Index(['out', 'tracked', 'SBT113', 'SBT114', 'SBT123', 'SBT124', 'aod',
       'bgrun', 'blh', 'cape',
       ...
       'vddsf', 'veg', 'veril', 'vgtyp', 'vis', 'vstm', 'vucsh', 'vvcsh', 'wz',
       'wz_1'],
      dtype='object', name='feature', length=111)

In [ ]:
zero_counts = (numeric_df[zero_col] == 0).sum()
print("\nCount of zaro in each column:\n", zero_counts)

Count of zaro in each column:
 feature
out        126403
tracked      2463
SBT113        186
SBT114        186
SBT123        186
            ...
vstm          166
vucsh         166
vvcsh         166
wz            166
wz_1          166
Length: 111, dtype: int64

In [ ]:
unique_counts = train_wide['tracked'].value_counts()

print(unique_counts)

tracked
0.0         2463
922425.0    2161
413676.0    2161
84953.0     2161
43558.0     2064
            ...
16293.0        1
11911.0        1
9360.0         1
130059.0       1
24050.0        1
Name: count, Length: 1755, dtype: int64

In [ ]:
train_wide['tracked'].nunique()

1755